name: CI

on:
  pull_request:
  push:

env:
  CARGO_TERM_COLOR: never

jobs:
  full-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: cargo build --release --all-features
      - name: format
        run: cargo fmt --all -- --check
      - name: clippy [library code]
        run: cargo clippy --workspace --all-features --lib -- -D warnings
